body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: url("./assets/img/wood_texture.jpg");
}

ol, ul {
  padding-left: 30px;
}

h1 {
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #7b5745;
}